.DS_Store

.venv/
venv/
env/
.env/
local/

*.iml
.idea/

*.egg-info/
*.pyc
.pytest_cache/
.coverage
coverage.xml

build/
dist/
.tox/

py35/
py36/
py37/
py38/

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

cdk.out/
cdk.context.json
